* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

header nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #007BFF;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #000; 
}


main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}

main h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    color: #555;
}

section {
    margin-bottom: 30px;
}

.about-card,
.growth-card,
.personal-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.image-placeholder {
    background-color: #ccc;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    flex-shrink: 0;
}

.text-content {
    flex: 1;
    font-size: 14px;
    color: #555;
}

.text-content h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.text-content p {
    margin-bottom: 10px;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer .social-links p {
    margin-bottom: 10px;
    font-size: 14px;
}

footer .social-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

footer .social-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

@media (max-width: 768px) {
    .about-card,
    .growth-card,
    .personal-card {
        flex-direction: column;
        text-align: center;
    }

    .image-placeholder {
        width: 100%;
        max-width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .text-content {
        text-align: justify
    }
}